<nav>
    <div class="logo" (click)="scroll(main)">A❤️A</div>
    <ul>
        <li><a (click)="scroll(HowItStarted)">How it started</a></li>
        <li><a (click)="scroll(Events)">Events</a></li>
        <li><a (click)="scroll(Glimpse)">Glimpse</a></li>
        <li><a (click)="scroll(Venue)">Venue</a></li>
    </ul>
</nav>
<section #main class="hero"></section>

<div #HowItStarted style="height: auto; margin-top: 5%;">
    <h3 class="font-3 d-flex justify-content-center">We Are Getting Married</h3>
    <p class="d-flex justify-content-center">
        Save the date 11<sup style="margin-top: 1%; font-size: small;">th</sup>&nbsp;
        March 2023.
    </p>
    <div class="container">
        <h3 class="font-3 row d-flex justify-content-center">How We Met</h3>
        <div class="d-flex justify-content-center">
            <div class="row">
                <i class="col col-mg-4 amit"></i>

                <div class="col col-mg-4 text-center">
                    <p>
                        This is a long paragraph written to show how the line-height of an element is affected by our
                        utilities.
                        Classes are applied to the element itself or sometimes the parent element. These classes can be
                        customized as needed with our utility API.
                        This is a long paragraph written to show how the line-height of an element is affected by our
                        utilities.
                        Classes are applied to the element itself or sometimes the parent element. These classes can be
                        customized as needed with our utility API.
                        This is a long paragraph written to show how the line-height of an element is affected by our
                        utilities.
                        Classes are applied to the element itself or sometimes the parent element. These classes can be
                        customized as needed with our utility API.
                    </p>
                </div>
                
                <i class="col col-mg-4 arunita"></i>
            </div>
        </div>
    </div>
</div>

<div #Events style="height: auto; margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="font-3 row d-flex justify-content-center">Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 left">
                <div>
                    <p>
                        <strong>
                            10<sup style="margin-top: 1%; font-size: small;">th</sup>&nbsp;March 2023
                        </strong>
                    </p>

                    <h5>Mehndi <span class="time">1PM - 5PM</span></h5>
                    <p>It's one of the oldest traditional Indian pre wedding ceremony where the bride and groom
                        attend the event together and a professional mehndi artist applies
                        mehndi to the bride's hands and feet. This will be having a celebratory
                        festival feel to it with people wearing vibrant clothes and dancing, singing, playing
                        games and a lot more.</p>
                </div>
                <div>
                    <h5>Ladies Sangeet <span class="time">7PM - 12AM</span></h5>
                    <p>The word “Sangeet “ means  music, but when it is used as a term to describe a celebratory 
                        event during an Indian wedding it translates to Music Night or Musical party. 
                        This musical night is a celebration of the union of not only the couple but the bonding 
                        of both families. It is here that both sides bring down their barriers and mingle in a 
                        fun environment.</p>
                </div>
            </div>
            <div class="col-md-6 right">
                <div>
                    <p>
                        <strong>
                            11<sup style="margin-top: 1%; font-size: small;">th</sup>&nbsp;March 2023
                        </strong>
                    </p>

                    <h5>Haldi <span class="time">10AM-11AM</span></h5>
                    <p>The haldi ceremony is usually held separately for the bride and the groom. This one is for the
                        bride. It is a low-key event that involves the application of turmeric paste on the hands, legs
                        and face of the bride. The groom is not allowed to see the bride after this ritual until the
                        final wedding ceremony starts.</p>
                </div>
                <div>
                    <h5>Wedding <span class="time">6PM-12AM</span></h5>
                    <p>This is the main event in the entire wedding when the bride and the groom tie the
                        knot. The groom comes with the barat and is greeted by the bride side with some dhol of course
                        as maximum number of guests would be attending this event. This is when the couple circle the
                        sacred fire and are finally declared husband and wife.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div #Glimpse style="height: auto; margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="font-3 row d-flex justify-content-center">Priceless Moments</h3>
            </div>
        </div>
    </div>   
</div>

<div #Venue style="height: auto; margin: 5%;"> 
    <h3 class="font-3 d-flex justify-content-center">Venue</h3>
    <div class="world"></div>  
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center content">
                <p>Created by Amit with lots of ❤️ for Arunita.</p>
            </div>
        </div>
    </div>
</footer>